<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Gerador de Aplicações</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" type="text/css" href="deps/opt/bootstrap.css"/>-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style type="text/css">
      .container {
        max-width: 900px;
      }
    </style>
</head>

<body>

<div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	</div>
	<div class="container">
        <form id="autoform"></form>
        <div id="res" class="alert"></div>
		<div class="panel panel-default">
		  <!-- Default panel contents -->
			<div class="panel-heading">Tabela de Campos</div>
			</div>
			<form method="post" onsubmit="return send_table_data();">
        <h4> Tipo de Processo:</h4> 
        <select id="tipo_processo" name="tipo_processo">
          <option value="processModel1">Tipo 1</option>
          <option value="processModel2">Tipo 2</option>
        </select>
        <br> 
        <h4> Nome do Orgão:</h4> 
        <input type="text" id="orgao">
        <br>
        <h4> Nome do Serviço:</h4>
        <input type="text" id="servico">
        <br>

				<table class="table" id="fieldTable">
					  </table>
				<input type="submit" value="Enviar" class="btn btn-primary"/>
			</form>
		</div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

    <script src="{{ url_for('static', filename='deps/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='deps/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='deps/opt/jsv.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jsonform.js') }}"></script>

	<script>
		function addLine(name) {
			var index = document.getElementById("fieldTable").rows.length;
			$("#fieldTable").append(
			  '<tr>' +
				"<td>" + index + "</td>" +
				"<td>" + name + "</td>" +
				"<td>" + '<div class="btn-group btn-group-xs"><button type="button" class="btn" onclick="return del_row('+ index +');"><span class="glyphicon glyphicon-remove"></span></button></div>' + "</td>" +
				"<td style='display:none;'>" + name + "</td>" +
			  "</tr>"
			);
		}
		var TableData;
		TableData = storeTblValues()
		TableData = JSON.stringify(TableData);
		function storeTblValues()
		{
			var TableData = new Array();
			$('#fieldTable tr').each(function(row, tr){
				TableData[row]=$(tr).find('td:eq(3)').text()
			});
      TableData.unshift(document.getElementById("tipo_processo").value, 
                        document.getElementById("orgao").value.replace(/ /g,"_"),
                        document.getElementById("servico").value.replace(/ /g,"_"));
			//TableData.shift();  // first row will be empty - so remove
      console.log(TableData)
			return TableData;
		}
		function send_table_data(){
			tdata = storeTblValues()
			submited = true
			$.ajax({
				type: "POST",
				url: "/create_form/" + tdata[2],
				data: JSON.stringify(tdata),
				contentType: 'application/json;charset=UTF-8',
				success: function(msg){
					// return value stored in msg variable
				}
			});
		}
		function del_row(index) {
		  document.getElementById("fieldTable").deleteRow(index);
		}
	</script>

    <script type="text/javascript">
      var submited=false;
      $('form').jsonForm({
        schema: {
          "tipo": {
              "type": "string",
              "title": "Campos",
              "enum": [ "nome", "endereco", "telefone", "email", "data_nascimento", "anexo" ]
            }
          },
        "form": [
        {
          "key": "tipo",
          "titleMap": {
            "nome": "Nome",
            "endereco": "Endereço",
            "telefone": "Telefone",
            "email": "E-mail",
            "data_nascimento": "Data de nascimento",
            "anexo": "Anexo",
          }
        },
        {
          "type": "submit",
          "title": "Adicionar"
        }
        ],
    onSubmit: function (errors, values) {
        if(!submited)
            addLine(values['tipo']);
        else
            submited = false;
    }
    });
    </script>

</body>

</html>