#footer-brasil {
   background: none repeat scroll 0% 0% #00420c;
   padding: 1em 0px;
   max-width: 100%;
}

.navbar[_ngcontent-c1] {
    padding-left: calc(max(16px,var(--ion-safe-area-left)) + 0px);
    padding-right: calc(max(16px,var(--ion-safe-area-right)) + 0px);
}
.navbar[_ngcontent-c1] {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    padding-left: calc(16px + 0px);
    padding-right: calc(16px + 0px);
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
[_nghost-c1] {
    font-size: 16px;
}
[_nghost-c0] {
    --pessoa-e: var(--pessoa1);
    --pessoa-d: var(--pessoa2);
}
body {
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    color: var(--ion-text-color);
}
html.md {
    --ion-default-font: "Roboto","Helvetica Neue",sans-serif;
}
:root {
    --ion-color-primary: #06acff;
    --ion-color-primary-rgb: 6,172,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #0597e0;
    --ion-color-primary-tint: #1fb4ff;
    --ion-color-secondary: #f6f28b;
    --ion-color-secondary-rgb: 246,242,139;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #d8d57a;
    --ion-color-secondary-tint: #f7f397;
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245,61,61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    --ion-color-dark: #606060;
    --ion-color-dark-rgb: 96,96,96;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #545454;
    --ion-color-dark-tint: #707070;
    --ion-color-medium: #d5d5d5;
    --ion-color-medium-rgb: 213,213,213;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #bbbbbb;
    --ion-color-medium-tint: #d9d9d9;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-text-color: #000;
    --ion-background-color: #fff;
    --ion-background-color-rgb: 255,255,255;
    --ion-font-family: Raleway,sans-serif;
    --margem-horizontal: 25px;
    --btn-padding: 1.3em 2em;
    --pessoa1: url('pessoa1.7656fe63c8ed2b5897a7.svg');
    --pessoa2: url('pessoa2.27936fc273ce80e4d56b.svg');
    --pessoa3: url('pessoa3.d9c1eb991d2c7c0cd279.svg');
    --pessoa4: url('pessoa4.effe9d5a3aa4a67421fa.svg');
    --altura-conteudo: calc(99vh - 120px);
    --cor-painel: var(--ion-background-color);
    --cor-painel-texto: var(--ion-text-color);
    --cor-painel-borda: var(--ion-color-primary);
    --cor-painel-ativo: var(--ion-color-primary);
    --cor-painel-texto-ativo: var(--ion-color-primary-contrast);
    --cor-painel-borda-ativa: var(--ion-color-primary);
    --cor-painel-pressionado: var(--ion-color-primary-shade);
    --painel-border-width: 3px;
    --painel-border-radius: 17px;
}
html {
    --ion-font-family: var(--ion-default-font);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: var(--ion-font-family);
}
html {
    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);
}
html {
    --ion-safe-area-top: var(--ion-statusbar-padding);
}

[_nghost-c1] {
    display: block;
    font-size: 16px;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
[_nghost-c0] {
    --pessoa-e: var(--pessoa1);
    --pessoa-d: var(--pessoa2);
}
body {
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    color: var(--ion-text-color);
}
html.md {
    --ion-default-font: "Roboto","Helvetica Neue",sans-serif;
}
:root {
    --ion-color-primary: #06acff;
    --ion-color-primary-rgb: 6,172,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #0597e0;
    --ion-color-primary-tint: #1fb4ff;
    --ion-color-secondary: #f6f28b;
    --ion-color-secondary-rgb: 246,242,139;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #d8d57a;
    --ion-color-secondary-tint: #f7f397;
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245,61,61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    --ion-color-dark: #606060;
    --ion-color-dark-rgb: 96,96,96;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #545454;
    --ion-color-dark-tint: #707070;
    --ion-color-medium: #d5d5d5;
    --ion-color-medium-rgb: 213,213,213;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #bbbbbb;
    --ion-color-medium-tint: #d9d9d9;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-text-color: #000;
    --ion-background-color: #fff;
    --ion-background-color-rgb: 255,255,255;
    --ion-font-family: Raleway,sans-serif;
    --margem-horizontal: 25px;
    --btn-padding: 1.3em 2em;
    --pessoa1: url('pessoa1.7656fe63c8ed2b5897a7.svg');
    --pessoa2: url('pessoa2.27936fc273ce80e4d56b.svg');
    --pessoa3: url('pessoa3.d9c1eb991d2c7c0cd279.svg');
    --pessoa4: url('pessoa4.effe9d5a3aa4a67421fa.svg');
    --altura-conteudo: calc(99vh - 120px);
    --cor-painel: var(--ion-background-color);
    --cor-painel-texto: var(--ion-text-color);
    --cor-painel-borda: var(--ion-color-primary);
    --cor-painel-ativo: var(--ion-color-primary);
    --cor-painel-texto-ativo: var(--ion-color-primary-contrast);
    --cor-painel-borda-ativa: var(--ion-color-primary);
    --cor-painel-pressionado: var(--ion-color-primary-shade);
    --painel-border-width: 3px;
    --painel-border-radius: 17px;
}
html {
    --ion-font-family: var(--ion-default-font);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: var(--ion-font-family);
}
html {
    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);
}
html {
    --ion-safe-area-top: var(--ion-statusbar-padding);
}

.navbar[_ngcontent-c1] .nav-conteudo[_ngcontent-c1] {
    padding: 5px 0;
    min-height: 58px;
}
.nav-conteudo[_ngcontent-c1] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.navbar[_ngcontent-c1] {
    color: var(--ion-color-primary-contrast);
}
[_nghost-c1] {
    font-size: 16px;
}
[_nghost-c0] {
    --pessoa-e: var(--pessoa1);
    --pessoa-d: var(--pessoa2);
}
body {
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    color: var(--ion-text-color);
}

.titulos[_ngcontent-c1] {
    display: flex;
    flex-direction: row;
    align-items: center;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.navbar[_ngcontent-c1] {
    color: var(--ion-color-primary-contrast);
}
[_nghost-c1] {
    font-size: 16px;
}
[_nghost-c0] {
    --pessoa-e: var(--pessoa1);
    --pessoa-d: var(--pessoa2);
}

h1[_ngcontent-c1] {
    font-size: 26px;
    font-weight: 500;
}
h1, h2, h3, li, p, ul {
    margin: 0;
}
h1 {
    font-size: 26px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.navbar[_ngcontent-c1] {
    color: var(--ion-color-primary-contrast);
}
[_nghost-c1] {
    font-size: 16px;
}
[_nghost-c0] {
    --pessoa-e: var(--pessoa1);
    --pessoa-d: var(--pessoa2);
}

h1[_ngcontent-c1] a[_ngcontent-c1], h2[_ngcontent-c1] a[_ngcontent-c1] {
    color: inherit;
    text-decoration: none;
}
a {
    background-color: transparent;
    color: var(--ion-color-primary,#3880ff);
}
.ion-tappable, [tappable], [tappable] div, [tappable] ion-icon, [tappable] ion-label, [tappable] span, a, a div, a ion-icon, a ion-label, a span, button, button div, button ion-icon, button ion-label, button span, input, textarea {
    touch-action: manipulation;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
h1[_ngcontent-c1] {
    font-size: 26px;
    font-weight: 500;
}
h1 {
    font-size: 26px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
}
.navbar[_ngcontent-c1] {
    color: var(--ion-color-primary-contrast);
}
[_nghost-c1] {
    font-size: 16px;
}
[_nghost-c0] {
    --pessoa-e: var(--pessoa1);
    --pessoa-d: var(--pessoa2);
}

h2[_ngcontent-c1] {
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    margin-left: 30px;
    border-left: 1px solid;
    padding-left: 24px;
    max-width: 11em;
}
h1, h2, h3, li, p, ul {
    margin: 0;
        margin-left: 0px;
}
h2 {
    font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.navbar[_ngcontent-c1] {
    color: var(--ion-color-primary-contrast);
}
[_nghost-c1] {
    font-size: 16px;
}